header {
  background: $green-color;
}

footer {
  background: $highlighted-black;
  color: $off-white;
}

@media (min-width: 576px) {
  .region-header,
  .region-footer {
    display: flex;
    align-items: center;
  }
  .region-content {
    padding: 50px 15px;
  }

  .region-footer div {
    padding: 10px;
    flex: 0 0 33%;
  }
}
