.mobile-menu {
  display: inline-block;

  @include breakpoint($tablet) {
    display: none;
  }

  span {
    display: block;
    height: 2px;
    background: $white;
    width: 18px;
    margin-bottom: 3px;
  }
}

nav.menu--main {
  display: none;

  @media  (min-width:768px) {
    display: block;
    text-align: right;
    flex: 0 0 75%;
    max-width: 75%;

    ul.menu {
      display: inline-flex;
      text-align: right;

      li.menu-item:last-child {
        padding-right: 0;
      }
    }
  }

  ul.menu {
    li.menu-item {
      padding: 20px 30px 10px;
      font-weight: 600;
      font-size: 16px;

      a {
        color: $off-white;
        text-transform: uppercase;
      }

      a.is-active {
        color: $highlighted-black;
      }

      a.is-active:hover {
        color: $highlighted-black;
      }

      a:hover {
        color: $light;
        text-transform: uppercase;
      }
    }
  }
}
