$green-color: #2CBC75;
$light-green-color: #4EE49A;
$highlighted-black: #333333;
$normal-text: #777777;
$faded-text: #999999;
$light: #dddddd;
$off-white: #eeeeee;

$base-font-size: 18px;
$line-height-base: 23px;
